@import url('./variables.css');

body {
  color: var(--paragraph);
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* font-family: "Inter", sans-serif; */
  font-optical-sizing: auto;
}

ul,
p,
h1,
h2,
h3,
h4,
h5 {
  padding: 0px;
  width: fit-content;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-medium);
}

.bg-primary-theme {
  background-color: var(--pink-bg-lightest);
}

.bg-pink-soft {
  background-color: var(--pink-bg-soft);
}

.text-primary-darker-theme {
  color: var(--pink-text-heading);
}

.text-muted {
  color: var(--color-text-muted);
}

.text-black {
  color: var(--black);
}

.text-base {
  color: var(--base);
}

.text-light-base {
  color: var(--paragraph);
}

.uppercase {
  text-transform: uppercase;
}

.leading-1 {
  line-height: 1.6rem;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.max-h-screen {
  max-height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.min-h-md {
  min-height: var(--width-md);
}


.min-w-screen {
  min-width: 100vw;
}

.min-w-md {
  min-width: var(--width-md);
}


.min-w-sm {
  min-width: var(--width-sm);
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-fit {
  width: min-content;
}

.h-fit {
  height: min-content;
}

.w-2 {
  width: 2px;
}

.w-xxs {
  width: var(--width-xxs);
}

.h-xxs {
  height: var(--width-xxs);
}


.w-xs {
  width: var(--width-xs);
}

.h-xs {
  height: var(--width-xs);
}

.w-sm {
  width: var(--width-sm);
}

.h-sm {
  height: var(--width-sm);
}

.w-md {
  width: var(--width-md);
}

.h-md {
  height: var(--width-md);
}

.w-lg {
  width: var(--width-lg);
}

.h-lg {
  height: var(--width-lg);
}

.w-xl {
  width: var(--width-xl);
}

.h-xl {
  height: var(--width-xl);
}



.w-container {
  width: var(--width-container-lg);
}

.w-90-percent {
  width: 70%;

}

.w-95-percent {
  width: 85%;

}


.ml-auto {

  margin-left: auto;
}

.mr-auto {

  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.self-center {
  align-self: center;
}

.justify-self-center {
  justify-self: center;
}

.grid {
  display: grid;
}

.grid-center {
  justify-content: center;
}


.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.grid-cols-1_3 {
  grid-template-columns: var(--width-third) auto;
}

.grid-cols-fit-auto {
  grid-template-columns: min-content auto;
}

.gap-1 {
  gap: var(--space-1);
}

.gap-2 {

  gap: var(--space-2);
}

.gap-3 {

  gap: var(--space-3);
}

.gap-4 {
  gap: var(--space-4);
}

.gap-6 {
  gap: var(--space-6);
}

.gap-8 {
  gap: var(--space-8);
}

.gap-10 {
  gap: var(--space-10);
}



.rounded-all {
  border-radius: var(--radius-round);
}

.border {
  border: 1px solid;
}

.border-2 {
  border: 2px solid;
}

.border-5 {
  border: 5px solid;
}

.border-left-2 {
  border-left: 2px solid;
}

.border-black {
  border-color: var(--black);
}

.border-pink-soft {
  border-color: var(--pink-bg-soft);
}

.text-6xl {
  font-size: calc(3*var(--fontsize-6xl));
  letter-spacing: 5px;
}


.text-4xl {
  font-size: var(--fontsize-4xl);
}

.text-2xl {
  font-size: var(--fontsize-2xl);
}

.text-lg {
  font-size: var(--fontsize-lg);
}

.text-md {
  font-size: var(--fontsize-md);
}

.text-xs {
  font-size: var(--fontsize-xs);
}

.font-bold {
  font-weight: var(--font-weight-bold);
}

.font-semibold {
  font-weight: var(--font-weight-medium);
}

.font-thin {
  font-weight: var(--font-weight-thin);
}

.text-center {
  text-align: center;
}

.text-wrap {
  overflow-wrap: break-word;
}

.body {
  font-size: var(--fontsize-md);
}

.object-contain {
  object-fit: contain;
}

.object-cover {
  object-fit: cover;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.right-0 {
  right: 0;
}

.left-0 {
  left: 0;
}

.bottom-0 {
  bottom: 0;
}

.top-0 {
  top: 0;
}

/*padding*/
.p-0 {
  padding: 0px;
}

.px-1 {
  padding: 0px var(--space-1);
}

.px-sm {
  padding: 0px var(--space-3);
}

.px-md {
  padding: 0px var(--space-4);
}

.px-lg {
  padding: 0px var(--space-6);
}

.px-xl {
  padding: 0px var(--space-10);
}

.pt-2xl {
  padding-top: var(--space-12);
}

.pt-xl {
  padding-top: var(--space-10);
}

.pt-sm {
  padding-top: var(--space-3);
}

.pb-md {
  padding-bottom: var(--space-4);
}

.pb-sm {
  padding-bottom: var(--space-3);
}
.pb-lg{
 padding-bottom: var(--space-6);
}
.pb-xl {
  padding-bottom: var(--space-10);
}

.pb-2xl {
  padding-bottom: var(--space-12);
}


.py-xs {
  padding: var(--space-2) 0px;
}


.py-sm {
  padding: var(--space-3) 0px;
}

.py-md {
  padding: var(--space-4) 0px;
}

.py-lg {
  padding: var(--space-6) 0px;
}

.py-xl {
  padding: var(--space-10) 0px;
}

.py-2xl {
  padding: var(--space-12) 0px;
}

.py-3xl {
  padding: var(--space-16) 0px;
}



/* list */
.list-none {
  list-style-type: none;
}

/* href */
.link-none {
  text-decoration: none;
}

/* cursor */
.cursor-pointer {
  cursor: pointer;
}

/* media queries */
@media screen and (max-width:680px) {

  /*padding*/
  .px-1 {
    padding: 0px var(--space-1);
  }

  .px-sm {
    padding: 0px var(--space-3);
  }

  .px-md {
    padding: 0px var(--space-4);
  }

  .px-lg {
    padding: 0px var(--space-5);
  }

  .px-xl {
    padding: 0px var(--space-6);
  }

  .pb-md {
    padding-bottom: var(--space-4);
  }

  .py-sm {
    padding: var(--space-2) 0px;
  }

  .py-lg {
    padding: var(--space-5) 0px;
  }

  .py-xl {
    padding: var(--space-6) 0px;
  }

  .py-2xl {
    padding: var(--space-10) 0px;
  }

  .pb-2xl {
    padding-bottom: var(--space-10);
  }

  .w-container {
    width: var(--width-container-sm);
  }

  .w-90-percent {
    width: 90%;

  }

  .w-95-percent {
    width: 95%;
  }

  .grid-cols-2 {
    grid-template-columns: none;
  }

  .grid-cols-1_3 {
    grid-template-columns: none;
  }

  .grid-cols-fit-auto {
    grid-template-columns: none;
  }

  .gap-10 {
    gap: var(--space-8);
  }

  .gap-6 {
    gap: var(--space-4);
  }

  .text-4xl {
    font-size: var(--fontsize-3xl);
  }

  .text-2xl {
    font-size: var(--fontsize-2xl);
  }

  .text-lg {
    font-size: var(--fontsize-lg);
  }

  .text-md {
    font-size: var(--fontsize-md);
  }

  .text-xs {
    font-size: var(--fontsize-xs);
  }


}
